@page "/"

<h1>Advent of Code 2021 Solutions</h1>
<h5>by Frank</h5>
<h5>credits to Soma Zsják for providing the application structure</h5>

<p style="margin-top: 2em">
    C# solutions for <a href="https://adventofcode.com">Advent of Code 2021</a> using a Blazor WebAssembly runner.<br />
    Use the menu bar to browse solutions.
</p>